.label {
  display: grid;
  gap: 0.5rem;
}

// The first child of .label is the label
// Usually this will be a span
.label > *:first-child {
  font-weight: bold;
}

.button,
.label input {
  border-radius: 4px;
  padding: 0.5rem;
}

.button {
  --light-color: hsl(212, 80%, 40%);
  --dark-color: hsl(212, 80%, 32%);
  --background: var(--light-color);
  --text-color: white;
  background: var(--background);
  border: none;
  color: var(--text-color);
  font-weight: bold;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &:not([disabled]) {
    &:focus,
    &:hover {
      --background: var(--dark-color);
    }
  }

  &[disabled] {
    --text-color: hsla(0, 100%, 100%, 75%);
  }
}

.form {
  --gap: 1rem;
  display: grid;
  gap: var(--gap);

  &__footer {
    display: flex;
    justify-content: end;

    * + * {
      margin-left: var(--gap);
    }
  }
}
