@use "element";
@use "card";
@use "form";

:root {
  --primary-hue: 212;
  --primary-saturation: 90%;
  --primary-lightness: 48%;
  --primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );

  --border-color: hsl(0, 0%, 85%);
  --border: 1px solid var(--border-color);
  --text-color: hsl(0, 0%, 20%);
  --soft-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
  --border-radius-small: 4px;
  --border-radius-large: 8px;
}
